.panel-body {
  padding: 5px;
  background: #f7f7f9;
}

.panel-footer {
  padding: 5px;
  padding-top: 12px;
  background: white;
}

.form-group {
  margin-bottom: 0px;
}

.table {
  margin-bottom: 0px;
}
